## Analysis: Titanic's passengers survival

- **Dataset**: https://www.kaggle.com/datasets/yasserh/titanic-dataset/data


Column definitions:
- `PassengerId`: Passenger Id.
- `Survived`: Survival 
  - **0** = No 
  - **1** = Yes.
- `Pclass`: Ticket class
  - **1** = First class
  - **2** = Second class
  - **3** = Third class.
- `Name`: Passenger's name.
- `Sex`: Passenger's genre.
- `Age`: Passenger's age in years.
- `SibSp`: Number of sibligs / spouse aboard.
- `Parch`: Number of parents / children aboard.
- `Ticket`: Ticket number.
- `Fare`: Passenger's fare.
- `Cabin`: Cabin number.
- `Embarked`:  Port of embarkation
  - **C** = Cherbourg
  - **Q** = Queenstown
  - **S** = Southampton

## Libraries

In [1]:
%run 0.0-data_projects-setup.ipynb

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Downdload and load data

Download dataset from kaggle:

In [11]:
from_kaggle("yasserh/titanic-dataset", "Titanic-Dataset.csv")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.8), please consider upgrading to the latest version (0.3.11).
Downloading from https://www.kaggle.com/api/v1/datasets/download/yasserh/titanic-dataset?dataset_version_number=1&file_name=Titanic-Dataset.csv...

100%|██████████| 59.8k/59.8k [00:00<00:00, 633kB/s]

Dataset Titanic-Dataset.csv was downloaded successfully

Load and preview data:

In [12]:
df = pd.read_csv(path.data_raw_dir("Titanic-Dataset.csv"))
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    int64
 4   Name         891 non-null    object
 5   Sex          891 non-null    object
 6   Age          714 non-null    float64
 7   SibSp        891 non-null    int64
 8   Parch        891 non-null    int64
 9   Ticket       891 non-null    object
 10  Fare         891 non-null    float64
 11  Cabin        204 non-null    object
 12  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB